@model Forum.ViewModel.MessageListViewModel

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/topic.js"></script>
    <script src="~/js/message.js"></script>
}
<div uk-grid class="uk-width-expand">
    <div class="uk-width-1-3 uk-flex uk-flex-right">
        <div class="uk-card uk-card-primary uk-width-3-5 uk-margin-small-top uk-height-large">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <h3 class="uk-card-title uk-margin-remove-bottom">@Model.Topic.Name</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">@Model.Topic.Created.ToString("dd.MM.yyyy HH:mm")</time></p>
                    </div>
                    <div class="uk-width-expand uk-flex uk-flex-right">
                        @if (User.IsInRole("Moderator"))
                        {
                            <form asp-action="Delete" asp-controller="Topic" asp-route-id="@Model.Topic.TopicId">
                                <button type="submit" class="uk-icon-button" uk-icon="trash"></button>
                            </form>
                        }

                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p>@Model.Topic.Description</p>
            </div>
        </div>
    </div>
    <div class="uk-width-2-3" uk-grid>

        <div class="uk-width-2-3 uk-margin-small-top uk-flex uk-flex-column">
            <div class="uk-background-muted uk-padding-small">

                <ul uk-accordion>
                    <li class="uk-close">

                        <a class="uk-accordion-title uk-margin-small-top uk-margin-small-bottom" href="#">Write message</a>
                        <div class="uk-accordion-content">
                            <form asp-controller="Message" asp-action="Create">
                                <fieldset class="uk-fieldset">
                                    <legend class="uk-legend">Message</legend>
                                    <input type="hidden" value="@Model.Topic.TopicId" name="TopicId" id="TopicId" />
                                    <input type="hidden" value="@Model.User.UserId" name="AuthorId" id="AuthorId" />
                                    <div class="uk-margin">
                                        <textarea name="Text" id="Text" class="uk-textarea uk-form-width-large" rows="5" placeholder="Write your message"></textarea>
                                    </div>
                                    <button type="submit" class="uk-button uk-button-primary uk-margin-small-bottom">Submit</button>
                                </fieldset>
                            </form>
                        </div>

                    </li>
                </ul>
            </div>
            @foreach (var message in Model.Messages)
            {
                <div class="uk-card uk-card-default uk-margin-top">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="@message.Author.Profile.ImagePath">
                            </div>
                            <div class="uk-width-auto">
                                <h5 class="uk-card-title uk-margin-remove-bottom"><a class="uk-link-heading" href="/User/Details/@message.Author.UserId">@message.Author.Profile.Name</a></h5>
                                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">@message.Created.ToString("dd.MM.yyyy HH:mm")</time></p>
                            </div>
                            <div class="uk-width-expand uk-flex uk-flex-right">
                                @if (User.IsInRole("Moderator"))
                                {
                                    <button id="remove-message-button" type="button" onclick="DeleteMessage(@message.MessageId)" class="uk-icon-button" uk-icon="trash"></button>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>@message.Text</p>
                    </div>
                    <div class="uk-card-footer">
                        <div class="uk-text-right">
                            <span id="message-@message.MessageId-likes" class="uk-text-muted">@(message.Likes == null ? 0 : message.Likes.Count())</span>
                            <button class="uk-icon-button" uk-icon="heart" onclick="LikeMessage(@message.MessageId)"></button>
                        </div>
                    </div>
                </div>
            }
            <div class="uk-align-center">
                <ul class="uk-pagination" uk-margin>
                    @if (Model.PageNumber != 1)
                    {
                        <li><a href="/Topic/Details/@Model.Topic.TopicId?page=@(Model.PageNumber-1)"><span uk-pagination-previous></span></a></li>
                    }
                    <li><a href="/Topic/Details/@Model.Topic.TopicId?page=1">1</a></li>
                    <li class="uk-disabled"><span>...</span></li>
                    <li class="uk-active"><span>@Model.PageNumber</span></li>
                    <li class="uk-disabled"><span>...</span></li>
                    <li><a href="/Topic/Details/@Model.Topic.TopicId?page=@Model.TotalPages">@Model.TotalPages</a></li>
                    @if (Model.PageNumber < Model.TotalPages)
                    {

                        <li><a href="/Topic/Details/@Model.Topic.TopicId?page=@(Model.PageNumber+1)"><span uk-pagination-next></span></a></li>
                    }
                </ul>
            </div>


        </div>
        <div class="uk-width-1-3 uk-flex uk-flex-row-reverse">
            <div id="refreshPageWarning" class="uk-margin-auto uk-margin-small-top uk-text-warning">

            </div>
        </div>


    </div>


</div>

