@model Forum.ViewModel.UserViewModel


<div class="uk-flex uk-flex-center uk-width-1-2">
    <ul class="uk-padding-small uk-background-muted uk-width-expand uk-margin-small-top uk-width-1-1" uk-accordion="multiple: true">
        <li class="uk-open">
            <a href="#" class="uk-accordion-title">Profile</a>
            <div class="uk-accordion-content">
                <div class="uk-text-center">
                    <img class="uk-border-circle" width="200" height="200" src="@Model.ImagePath" />
                </div>
                <hr />
                <div class="uk-flex uk-flex-wrap-reverse">
                    @foreach (var role in Model.Roles)
                    {
                        <div class="uk-label uk-margin-small-right uk-margin-small-bottom">@role</div>
                    }
                    
                </div>
                <hr />
                <form asp-controller="User" asp-action="UpdateProfile" class="uk-grid-small uk-margin-small-top" uk-grid>
                    <div class="uk-width-1-1@s">
                        <label for="name" class="uk-form-label">Name</label>
                        <input readonly asp-for="Name" class="uk-input" type="text" placeholder="Name" value="@Model.Name" disabled>
                    </div>
                    <div class="uk-width-1-1@s">
                        <label for="name" class="uk-form-label">About</label>
                        <textarea readonly asp-for="About" rows="3" class="uk-textarea" type="text" placeholder="About" value="@Model.About" disabled></textarea>
                    </div>
                </form>
            </div>

        </li>

        <li class="uk-open">
            <a href="#" class="uk-accordion-title">Actions</a>
            
            @if (User.IsInRole("Admin") && !Model.Roles.Contains("Admin"))
            {
                if (Model.Roles.Contains("Moderator"))
                {
                    <form asp-controller="Account" asp-action="RemoveModerator" asp-route-id="@Model.UserId">
                        <button type="submit" class="uk-button uk-button-primary">Remove moderator</button>
                    </form>
                }
                else
                {
                    <form asp-controller="Account" asp-action="MakeModerator" asp-route-id="@Model.UserId">
                        <button type="submit" class="uk-button uk-button-primary">Make a moderator</button>
                    </form>
                }

            }
            <div class="uk-margin-top">
                @if (User.IsInRole("Moderator") && !Model.Roles.Contains("Moderator"))
                {
                    if (Model.Banned)
                    {
                        <form asp-controller="Account" asp-action="Unban" asp-route-id="@Model.UserId">
                            <button type="submit" class="uk-button uk-button-primary">Unban</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Account" asp-action="Ban" asp-route-id="@Model.UserId">
                            <button type="submit" class="uk-button uk-button-primary">Ban</button>
                        </form>
                    }
                }
            </div>
        </li>
        
        </ul>
</div>


