@model Forum.ViewModel.UserViewModel

@{
}
<div class="uk-flex uk-flex-center uk-width-1-2">
    <ul class="uk-padding-small uk-background-muted uk-width-expand uk-margin-small-top uk-width-1-1" uk-accordion="multiple: true">
        <li class="uk-open">
            <a href="#" class="uk-accordion-title">Account</a>
            <div class="uk-accordion-content">
                <form asp-controller="User" asp-action="UpdateUsername" class="uk-form-horizontal uk-margin-small">

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text"><h5>Email</h5></label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Some text..." value="@Model.Email" disabled>
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text"><h5>Username</h5></label>
                        <div class="uk-form-controls">
                            <input class="uk-input" asp-for="Username" type="text" placeholder="Some text..." value="@Model.Username">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <button type="button" class="uk-button uk-button-primary">Change username</button>
                        <button type="submit" class="uk-button uk-button-primary">Change password</button>
                    </div>

                </form>
            </div>
        </li>
        <li class="uk-open">
            <a href="#" class="uk-accordion-title">Profile</a>
            <div class="uk-accordion-content">
                <div class="uk-text-center">
                    <img class="uk-border-circle" width="200" height="200" src="@Model.ImagePath">
                    <div class="uk-margin">
                        <form enctype="multipart/form-data" asp-controller="User" asp-action="Upload">
                            <div uk-form-custom>
                                <input name="Image" id="Image" type="file">
                                <button class="uk-button uk-button-primary" type="button" tabindex="-1">Select</button>
                            </div>
                            <button class="uk-button" type="submit">Save</button>
                        </form>

                    </div>
                </div>
                <hr />
                <div class="uk-flex uk-flex-wrap-reverse">
                    @foreach (var role in Model.Roles)
                    {
                        <div class="uk-label uk-margin-small-right uk-margin-small-bottom">@role</div>
                    }
                </div>
                <hr />
                <form asp-controller="User" asp-action="UpdateProfile" class="uk-grid-small uk-margin-small-top" uk-grid>
                    <div class="uk-width-1-1@s">
                        <label for="name" class="uk-form-label">Name</label>
                        <input asp-for="Name" class="uk-input" type="text" placeholder="Name" value="@Model.Name">
                    </div>
                    <div class="uk-width-1-1@s">
                        <label for="name" class="uk-form-label">About</label>
                        <textarea asp-for="About" rows="3" class="uk-textarea" type="text" placeholder="About" value="@Model.About"></textarea>
                    </div>
                    <div class="uk-align-center">
                        <button type="submit" class="uk-button uk-button-primary">Save</button>
                    </div>
                </form>
            </div>
            
        </li>

    </ul>
</div>



